<div class="row">
    <div class="col-md-3" >
        <img [src]="dvd.imgUrl" alt="Dvd image">
    </div>
    <div class="col-md-9" style="border: 5px;">
        <h5>
            {{ dvd.title }}
            <span class="badge badge-success">{{ dvd.price }} $</span>
            <button class="btn btn-sm btn-primary" (click)="navigateToDvdForm(dvd.id)">Edit</button>
        </h5>
        <p>
            <span class="badge badge-secondary" *ngFor="let category of dvd.categories">{{ category.title }}</span>
        </p>
        <p *ngIf="dvd.renter">renter: {{ dvd.renter.firstName }} {{ dvd.renter.lastName }}</p>
        <p>{{ dvd.date }}</p>
        <p>{{ dvd.status }}</p>
        <hr>
    </div>
</div>