<div class="row mt-2">
    <div class="col-md-7">
        <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Type a dvd title ...">
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" (click)="search()">Search</button>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h5>Dvds</h5>
        <div class="row">
            <div class="col-md-6" *ngFor="let dvd of dvds">
                <app-dvd [dvd]="dvd"></app-dvd>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h5>Kölcsönések</h5>
        <app-rent></app-rent>
    </div>
</div>

