<div class="row">
    <div class="col-md-6">
        <form [formGroup]="dvdForm">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title">
            <label for="date">Date</label>
            <input type="text" class="form-control" id="date" formControlName="date">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" formControlName="price">
            <div class="text-danger" *ngIf="price.invalid && (price.dirty || price.touched)">
                <small *ngIf="price.errors.min">Price must be greater than or equal to 1$.</small>
            </div>
            <label for="imgUrl">Image URL</label>
            <input type="text" class="form-control" id="imgUrl" formControlName="imgUrl">
            <div class="text-danger" *ngIf="imgUrl.invalid  && (imgUrl.dirty || imgUrl.touched)">
                <small *ngIf="imgUrl.errors.pattern">Image URL must be a valid URL.</small>
            </div>
            <label for="status">Status</label>
            <select class="form-control" id="status" formControlName="status">
                <option selected>Choose...</option>
                <option value="szabad">szabad</option>
                <option value="kikölcsönzött">kikölcsönzött</option>
                <option value="selejtezett">selejtezett</option>
              </select>
            <!--<input type="text" class="form-control" id="status" formControlName="status" placeholder="szabad, kikölcsönzött, selejtezett"> -->
            <label for="renter">renter</label>
            <select [compareWith]="compareUsers" class="form-control" id="renter" formControlName="renter">
                <option *ngFor="let user of users" [ngValue]="user">{{ user.firstName }} {{ user.lastName }}</option>
            </select>
            <label for="categories">Categories</label>
            <select [compareWith]="compareCategories" class="form-control" id="categories" formControlName="categories"
                multiple>
                <option *ngFor="let category of categories" [ngValue]="category">{{ category.title }}</option>
            </select>
            <button class="btn btn-primary mt-2" (click)="addDvd()" [disabled]="dvdForm.invalid">
                Save dvd
            </button>
        </form>
    </div>
</div>